

    {% extends 'base.html' %} {% block title%} Assignment3_2 {% endblock %} {%
    block body %}{{ super() }}
<body>
<h1>User Search</h1>
    <form action="/assignment3_2" method="get">
      Name:<input type="text" name="name" /> <br />
      Email:<input type="text" name="email" /> <br />
      <input type="hidden" name="is_submit" value="1" />
      <input type="submit" /> <br />

      {% if name %}
      <h2>Success! Our system has found your details</h2>
      <h3>Name: {{ name|upper }}</h3>
      <h3>Email: {{ email }}</h3>
      {% elif(users) %}
      <h3>Available Accounts:</h3>
      {% for user in users %}
      <li id="normal">{{ user }}</li>
      {% endfor %} {% endif %}
    </form>

    <hr />

    <h2>Registration</h2>
    <form action="/assignment3_2" method="post">
      Name:<input type="text" name="username" />
      <br />
      Email:<input type="text" name="email" /> <br />
      <input type="submit" />
    </form>
</body>
    {% endblock %}

