{% extends 'base.html' %}
{% block title%} Main {% endblock %}
{% block body %}{{ super() }}
<body>
        <h2>HI!</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis
          nisi auctor, ultrices sem porttitor, rutrum ante. Duis vestibulum
          ligula sit amet dolor ullamcorper, sodales lacinia lectus pharetra.
          Cras molestie eleifend sollicitudin. Nunc vestibulum dui quis est
          vehicula placerat in quis quam. Donec varius rhoncus ligula a
          hendrerit. Proin interdum mi eros, vitae cursus justo sollicitudin
          non. Morbi iaculis libero quis interdum facilisis. In vehicula
          porttitor ornare.
        </p>
</body>


{% endblock %}